* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  background: #34393f;
}

header {
  padding: 25px 15px;
}

header .container-fluid .logo {
  padding-top: 10px;
}

header .container-fluid .logo .logo_div img {
  width: 150px;
  height: 35px;
}

main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main_div .main_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  padding-left: 100px;
}

main .main_div .main_text .sign-wrap-1 {
  text-align: center;
  margin-bottom: 30px;
}

main .main_div .main_text .sign-wrap-1 .sign_word {
  font-size: 60px;
  font-weight: bold;
  line-height: 50px;
  color: #FFF;
  font-family: 'Tourney', cursive;
  text-transform: uppercase;
  -webkit-animation: neon-1 0.6s ease-in-out infinite alternate;
  animation: neon-1 0.6s ease-in-out infinite alternate;
}

@-webkit-keyframes neon-1 {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(255, 255, 255, 0.34), 0 0 12px rgba(255, 255, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
  }

  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(221, 206, 0, 0.42), 0 0 12px rgba(192, 196, 0, 0.58), 0 0 22px rgba(191, 226, 255, 0.84), 0 0 38px rgba(191, 226, 255, 0.88), 0 0 60px #FFF;
  }
}

@keyframes neon-1 {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(255, 255, 255, 0.34), 0 0 12px rgba(255, 255, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
  }

  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(221, 206, 0, 0.42), 0 0 12px rgba(192, 196, 0, 0.58), 0 0 22px rgba(191, 226, 255, 0.84), 0 0 38px rgba(191, 226, 255, 0.88), 0 0 60px #FFF;
  }
}

main .main_div .main_text p {
  width: 100%;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}

main .main_div .main_text .social_media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

main .main_div .main_text .social_media .soc_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: -o-linear-gradient(305deg, #383d43, #2f3339);
  background: linear-gradient(145deg, #383d43, #2f3339);
  -webkit-box-shadow: 5px 5px 10px #151719, -5px -5px 10px #535b65;
  box-shadow: 5px 5px 10px #151719, -5px -5px 10px #535b65;
  border-radius: 50%;
  margin-right: 20px;
}

main .main_div .main_text .social_media .soc_icon img {
  width: 30px;
  height: 30px;
}

main .main_div .main_text .social_media .soc_icon:hover {
  background: #34393f;
  -webkit-box-shadow: inset 5px 5px 10px #151719, inset -5px -5px 10px #535b65;
  box-shadow: inset 5px 5px 10px #151719, inset -5px -5px 10px #535b65;
}

main .main_div .main_text .social_media .soc_icon:first-child {
  padding-right: 5px;
  padding-top: 2px;
}

main .main_div .main_gif {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

main .main_div .main_gif a {
  text-align: center;
  padding: 15px 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: #34393f;
  background: -o-linear-gradient(305deg, #383d43, #2f3339);
  background: linear-gradient(145deg, #383d43, #2f3339);
  -webkit-box-shadow: 5px 5px 20px #151719, -5px -5px 20px #535b65;
  box-shadow: 5px 5px 20px #151719, -5px -5px 20px #535b65;
}

main .main_div .main_gif a span {
  color: #e09f28;
  margin-left: 10px;
  padding-top: 2px;
}

main .main_div .main_gif a:hover {
  margin-left: 20px;
  background: #34393f;
  -webkit-box-shadow: inset 5px 5px 20px #151719, inset -5px -5px 20px #535b65;
  box-shadow: inset 5px 5px 20px #151719, inset -5px -5px 20px #535b65;
  color: #e09f28;
}

main .main_div .main_gif a:hover span {
  color: white;
}